<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mathgame">

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".structure.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SingleGameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".unused.AddCustomModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".unused.CustomModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.GameTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.GameResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.MultipleQuestionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".plugin.tictactoe.game.TTTGameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".plugin.tictactoe.selection.TTTSelectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SingleGameResultActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DualGameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mathgame.activity.SlideAdditionActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.SudokuHomeActivity"
            android:label="@string/app_name" />

        <activity android:name=".activity.SudokuSettingsActivity" />

        <activity android:name=".activity.SudokuGameActivity" />

        <activity
            android:name=".activity.SudokuHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SudokuHighScoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SudokuTutorialActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MathTutorialActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.TutorialDataActivity" />

        <activity android:name=".activity.CareerLevelActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.AnswerListActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".plugin.sudoku.controller.GeneratorService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>